<autofac defaultAssembly="TycoonFactory.Web">
	<components>
		<component type="TycoonFactory.Data.WorkerRepository,TycoonFactory.Data" service="TycoonFactory.IData.IWorkerRepository, TycoonFactory.IData" />
		<component type="TycoonFactory.Data.WorkAssignementRepository,TycoonFactory.Data" service="TycoonFactory.IData.IWorkAssignementRepository, TycoonFactory.IData" />
		
		
		<component type="TycoonFactory.Buss.WorkerService, TycoonFactory.Buss" service="TycoonFactory.IBuss.IWorkerService, TycoonFactory.IBuss" />
		<component type="TycoonFactory.Buss.WorkAssignementService, TycoonFactory.Buss" service="TycoonFactory.IBuss.IWorkAssignementService, TycoonFactory.IBuss" />
	</components>
</autofac>